.color-blue {
  color: #2196f3;
}
.color-red {
  color: #f44336;
}
.color-yellow {
  color: #d2be0e;
}
.color-green {
  color: #4caf50;
}

.babackground-lettuce {
  background: #4caf50;
}

.babackground-orange {
  background: #ff9800;
}

.babackground-red {
  background: #f44336;
}

// Hovers
.gray-hover:hover {
  background: #ccc;
  color: black;
}
