body,
html {
  margin: 0;
}

.header {
  width: 100%;
  color: #fff;
  background: #000;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;

  .logo {
    color: #fff;
    font-family: 18px;
    padding: 8px 16px;
  }
}
